<%= form_with(model: character) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :last_update %>
    <%= form.datetime_select :last_update %>
  </div>

  <div class="field">
    <%= form.label :faction_id %>
    <%= form.text_field :faction_id %>
  </div>

  <div class="field">
    <%= form.label :race_id %>
    <%= form.text_field :race_id %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :chr_class_id %>
    <%= form.text_field :chr_class_id %>
  </div>

  <div class="field">
    <%= form.label :money %>
    <%= form.number_field :money %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender %>
  </div>

  <div class="field">
    <%= form.label :played %>
    <%= form.number_field :played %>
  </div>

  <div class="field">
    <%= form.label :played_this_level %>
    <%= form.number_field :played_this_level %>
  </div>

  <div class="field">
    <%= form.label :active_covenant_id %>
    <%= form.text_field :active_covenant_id %>
  </div>

  <div class="field">
    <%= form.label :last_logout %>
    <%= form.datetime_select :last_logout %>
  </div>

  <div class="field">
    <%= form.label :zone %>
    <%= form.text_field :zone %>
  </div>

  <div class="field">
    <%= form.label :sub_zone %>
    <%= form.text_field :sub_zone %>
  </div>

  <div class="field">
    <%= form.label :bind_location %>
    <%= form.text_field :bind_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
