%p#notice= notice

%table.table.table-hover.table-striped
  %thead
    %tr
      %th 姓名
      %th 种族
      %th 职业
      %th 性别
      %th 级别
      %th 金钱
      %th 最后登录时间
  %tbody
    - @characters.each do |character|
      %tr
        %td= character.name
        %td= character.race.name
        %td= character.chr_class.name
        %td= character.gender
        %td= character.level
        %td.text-end= format_money character.money      
        %td= character.last_logout

